%h2 メッセージ一覧
- @messages.each do |message|
  .msg
    = message.user.name
    = message.body
    = message.image
    = message.updated_at
    = link_to "Edit", edit_group_message_path(message.group_id,message.id)
    / = link_to "Delete"
