.chat
  .chat__title
    .title__info
      %h1.title__name
        = @group.name
      %p.title__member Member:#{@members}
    .title__edit
      %a
        %p
          = link_to "EDIT", edit_group_path(@group.id)

  .chat__content
    .msgs
      - @group.messages.each do |message|
        .msg
          %p.msg__username
            = message.user.name
          %p.msg__time
            = published_on(message)
          %p.msg__passage
            = message.body
    = render "messages/form"
