.chat
  .chat__title
    .title__info
      %h1.title__name
        = @group.name
      %p.title__member Member:#{@members}
    .title__edit
      %a
        %p
          =link_to "EDIT", edit_group_path

  .chat__content
    - @messages.each do |message|
      .msg
        %p.msg__username
          = message.user.name
        %p.msg__time
          = message.created_at.strftime("%Y-%m-%d %H:%M:%S")
        %p.msg__passage
          = message.body
    .space
    = render "messages/form"
