.menu
  .menu__title
    %h2 #{current_user.name}
    = link_to new_group_path do
      %i{class:"fa fa-pencil-square-o fa-2x fa-white"}
    = link_to edit_user_registration_path do
      %i{class:"fa fa-cog fa-2x fa-white"}

  .menu__content
    .group
      - current_user.groups.each do |group|
        %p.group__name
          = link_to "#{group.name}", group_messages_path(group)
        %p.group__msg
          - if group.messages.empty?
            %p まだメッセージはありません
          - else
            = group.messages.last.body
