%wrapper

  .menu
    .menu__title
      %h2 #{@user.name}
      = link_to new_group_path do
        %i{class:"fa fa-pencil-square-o fa-2x fa-white"}
      = link_to edit_user_registration_path do
        %i{class:"fa fa-cog fa-2x fa-white"}

    .menu__content
      .group
        - @groups.each do |group|
          %p.group__name
            = link_to "#{group.name}", group_path(group.id)
          %p.group__msg
            - if group.messages.empty?
              %p まだメッセージはありません
            - else
              = group.messages.last.body


  .chat
    .chat__title
      .title__info
        %h1.title__name sampleグループ
        %p.title__members Member:ryosukemaehira
      .title__edit
        %a
          %p EDIT

    .chat__content
      .msg
        %p.msg__username ryosukemaehira
        %p.msg__time 2016/10/02 06:27:07
        %p.msg__passage なるほど
      .msg
        %p.msg__username ryosukemaehira
        %p.msg__time 2016/10/02 06:27:14
        %p.msg__passage 水色きもい
      .msg
        %p.msg__username ryosukemaehira
        %p.msg__time 2016/10/02 06:27:25
        %p.msg__passage command Enter で送信したい感ある
      .msg
        %p.msg__username ryosukemaehira
        %p.msg__time 2016/10/02 06:27:30
        %p.msg__passage お腹すいた
      .space

      %form
        %span
          %input.form__textfield{ :type => "text" ,:placeholder => "type a message", :style =>"width:calc(100% - 200px);height:50px" }
        %span
          = icon('picture-o')
        %span
          %input.form__submit{ :type => "submit", :value => "SEND", :style =>"width:70px;height:50px"}
